#postgress

POSTGRES_DB=DB_NAME
POSTGRES_USER=DB_USER_NAME
POSTGRES_PASSWORD=DB_STRONG_PASS
#n8n

N8N_ENCRYPTION_KEY=N8N_encription
N8N_HOST=SOME_HOST
N8N_PORT=SOME_PORT

NODE_ENV=production
N8N_REMOVE_ATTRIBUTION=true

TZ=Europe/Berlin

OPEN_AI=GPT_TOKEN
TELEGRAM_TOKEN=TELEGRAM_TOKEN
TELEGRAM_ADMIN_CHAT_ID=TELEGRAM_ADMIN_CHAT_ID
TELEGRAM_CHANNEL_ID=TELEGRAM_CHANEL_ID

N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_EXPRESSION_SANDBOX_ENVIRONMENT_VARIABLES=TELEGRAM_TOKEN,TELEGRAM_ADMIN_CHAT_ID,TELEGRAM_CHANNEL_ID

WEBHOOK_URL=WEBHOOK
N8N_EDITOR_BASE_URL=WEBHOOK
N8N_HOST=WEBHOOK_WITHOUT_HTTPS
N8N_PROTOCOL=https
